.buttonBody{ 
    background-color: #3F3D56;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.buttonStyle {
    width: 100%;
    cursor: pointer;
    padding: 15px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    position: relative;
}

.buttonStyle::after {
    content:'»';
    position: absolute;
    right: 10px;
    opacity: 0;
}

.buttonStyle:hover {
    color: rgb(90, 233, 214);
}

.buttonStyle:hover::after {
    transition: 1s;
    opacity: 1;
}